.main-header-container{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.main-header-nav-menu {
    display: flex;
}

.main-header-nav {
    margin-right: 25%;
    display: flex;
    box-sizing: inherit;
}

.main-header-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    font-size: 18px;
    margin-top: 15px;
}

.dropdown-cars {
    display: inline-block;
    margin-top: 15px;
}

.dropdown-content-cars {
    display: none;
    width: 105px;
}

.dropdown-cars:hover .dropdown-content-cars{
    display: flex;
    flex-direction: column;
}

.dropdown-upgrades{
    display: inline-block;
    margin-top: 15px;
}

.dropdown-content-upgrades{
    display: none;
    width: 105px;
}

.dropdown-upgrades:hover .dropdown-content-upgrades{
    display: flex;
    flex-direction: column;
}

a {
    display: inline;
    color: rgb(3, 2, 2);
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

    &:hover {
        color: rgb(21, 6, 233);
    }
}

h1 {
    
    /* width: 1000px; */
    height: 40px;
    margin-right: 17%;
    font-family: 'Ultra', serif;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.svg-icon-profile{
    
}

.svg-icon-like{
    
}

