.main-header {
    
}


.main-header-container{
    /* display: flex;
    justify-content: center;   */ 
    display: grid;
    grid-template-columns: 25% 60% 10%;
    margin: 0 25px;
}

.main-header-nav-menu {
    display: flex;
}

.main-header-nav {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 200px;   
}

.main-header-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    font-size: 18px;
    margin-top: 15px;
}

.dropdown-cars {
    display: inline-block;
    /* text-align: center; */
}

.dropdown-content-cars {
    display: none;
    width: 100px;
}

.dropdown-cars:hover .dropdown-content-cars {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    }

.dropdown-upgrades {
    display: inline-block;
}

.dropdown-content-upgrades {
    display: none;
    width: 100px;
}

.dropdown-upgrades:hover .dropdown-content-upgrades {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;

}

a {
    display: inline;
    color: rgb(3, 2, 2);
    padding: 14px 17px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

    &:hover {
        color: rgb(21, 6, 233);
    }
}

h1 {
    text-align: center;
    font-family: 'Ultra', serif;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    height: 25px;
    width: 25px;
}


.carousel {
    display: flex;
    justify-content: center;
}

.Slides {
    position: absolute;
    display: none;
}

.buttons {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 40px;
    border: none;
    margin-top: 180px;
    opacity: 0.5;
}

.buttons:hover {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 40px;
    border: none;
    margin-top: 180px;
    opacity: 1;
    
}

img {
    max-width: 1300px;
    max-height: 500px;
}

.left {
    height: 35px;
    color: rgb(192, 191, 191);
    background-color: rgb(30, 31, 30);
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.right {
    height: 35px;
    color: rgb(192, 191, 191);
    background-color: rgb(30, 31, 30);
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.model-1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: rgb(25, 25, 24);
    color: rgb(255, 255, 255);
    padding: 7px;
    margin: 3%;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background-color: rgb(241, 235, 227);
        color: rgb(0, 0, 0);
    }
}

.model-2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 4, 4);
    padding: 7px;
    margin: 3%;
    cursor: pointer;
    border-radius: 20px;
    border: solid 1px black;

    &:hover {
        opacity: 1;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

.model-3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: rgb(218, 221, 245);
    color: rgb(4, 4, 4);
    padding: 7px;
    margin: 3%;
    cursor: pointer;
    border-radius: 20px;

    &:hover {
        opacity: 1;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border: solid 1px rgb(255, 255, 255);
    }
}

.model-4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: rgb(232, 236, 175);
    color: rgb(41, 96, 39);
    padding: 7px;
    margin: 3%;
    cursor: pointer;
    border-radius: 20px;
    border: solid 1px rgb(41, 96, 39);

    &:hover {
        opacity: 1;
        background-color: rgb(41, 96, 39);
        color:rgb(232, 236, 175);
        border: solid 1px rgb(255, 255, 255);
    }
}

.model-5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: rgb(182, 5, 5);
    color: rgba(220, 195, 5, 0.868);
    padding: 7px;
    margin: 3%;
    cursor: pointer;
    border-radius: 20px;
    border: solid 1px rgb(0, 0, 0);

    &:hover {
        opacity: 1;
        background-color: rgb(206, 5, 5);
        color:rgb(255, 255, 255);
        border: solid 1px rgb(0, 0, 0);
    }
}

.photocontent {
    margin-top: 300px;
}

h2 {
    display: flex;
    justify-content:center;
    font-size:30px;
  }
  
p {
    display: flex;
    justify-content:center;
  }
  
.line {
    width: 25%;
    margin: 15px auto;
    border-width: 2px;
    border-style: solid ;
    color:#5FBACC;
    border-radius: 5px;
  }
  
.short-photo-view {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10px;
    width: 900px;
  }
  
.short-photo-view img {
    max-width: 350px;
    height: 280px;
  }