.main-header-container{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.main-header-nav-menu{
    display: flex;
}

.main-header-nav{
    margin-right: 25%;
    display: flex;
    box-sizing: inherit;
}

.main-header-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    font-size: 18px;
  }